html, body {
  margin: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

body {
  background-color: #666;
}

video {
  display: none;
}

div#crop {
  position: fixed;
  border: 2px solid greenyellow;
  border-radius: 1px;
  width: 300px;
  height: 300px;
  left: calc(50vw - 150px);
  top: calc(50vh - 150px);
  box-sizing: border-box;
  cursor: pointer;
}

.running {
  background-color: greenyellow;
  opacity: .4;
  pointer-events: none;
}

#label {
  display: none;
  background: greenyellow;
  position: absolute;
  bottom: 0;
  font-size: 13pt;
  font-family: monospace;
  padding: 4px;
  border-radius: 0 4px 0 0;
}

canvas#out {
  display: none;
}

.forkme {
  position: fixed;
  top: 0;
  right: 0;
}

#model-selector-container {
  position: absolute;
  top: -35px;
  left: -2px;
}
